<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        .fehler {
            border:2px solid;
            border-color: red;
        }
        .fehlermeldung {
            font-size: x-small;
            color: red;
        }
    </style>
</head>
<body>
    <h1 th:text="#{profilbearbeiten.titel}">Benutzerprofil bearbeiten</h1>
    <a th:href="@{?sprache=de}">DE</a>
    <a th:href="@{?sprache=en}">EN</a>
    <h3 th:text="#{profil.ihredaten}">Ihre Daten</h3>
    
    <form th:method="POST" th:object="${profil}" th:action="@{/benutzerprofil/bearbeiten}">
        <label for="name" th:text="#{profil.name}">Name:</label><br>
        <input type="text" name="name" style="width:100%;" th:field="*{name}" th:errorclass="fehler"><br>
        <label class="fehlermeldung" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label><br>
        <br>

        <label for="geburtsdatum" th:text="#{profil.geburtsdatum}">Geburtsdatum:</label><br>
        <input type="date" name="geburtsdatum" style="width:100%;" th:field="*{geburtsdatum}" th:errorclass="fehler"><br>
        <label class="fehlermeldung" th:if="${#fields.hasErrors('geburtsdatum')}" th:errors="*{geburtsdatum}"></label><br>
        <br>

        <label for="adresse" th:text="#{profil.adresse}">Adresse:</label><br>
        <input type="text" name="adresse" style="width:100%;" th:field="*{adresse}" th:errorclass="fehler"><br>
        <label class="fehlermeldung" th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"></label><br>
        <br>

        <label for="email" th:text="#{profil.email}">E-Mail:</label><br>
        <input type="text" name="email" style="width:100%;" th:value="*{email}" th:errorclass="fehler"><br>
        <label class="fehlermeldung" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label><br>
        <br>

        <label for="lieblingsfarbe" th:text="#{profil.lieblingsfarbe}">Lieblingsfarbe</label><br>
        <input type="color" name="lieblingsfarbe" style="width:100%;" th:value="*{lieblingsfarbe}" th:errorclass="fehler"><br>
        <label class="fehlermeldung" th:if="${#fields.hasErrors('lieblingsfarbe')}" th:errors="*{lieblingsfarbe}"></label><br>
        <br>

        <label for="interessen" th:text="#{profil.interessen}">Interessen (durch Komma getrennt)</label><br>
        <input type="text" name="interessen" style="width:100%;" th:field="*{interessen}" th:errorclass="fehler"><br><br>
        <label class="fehlermeldung" th:if="${#fields.hasErrors('interessen')}" th:errors="*{interessen}"></label><br>
        <br>

        <input type="submit" th:value="#{profil.speichern}">
        <button onclick="window.location.href='/benutzerprofil'" type="reset" th:text = "#{profil.abbrechen}"></button>
    </form>
</body>
</html>
