<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Benutzerprofil</title>
</head>
<body>
    <h1>Benutzerprofil</h1>
    <h3>Ihre Daten</h3>
    
    <table>
        <tr>
            <td>Name</td>
            <td th:text="${profil.name}"></td>
        </tr>
        <tr>
            <td>Geb.</td>
            <td th:text="${profil.geburtsdatum}"></td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td th:text="${profil.adresse}"></td>
        </tr>
        <tr>
            <td>eMail</td>
            <td th:text="${profil.email}"></td>
        </tr>
        <tr>
            <td>Lieblingsfarbe</td>
            <td th:text="${profil.lieblingsfarbe}"></td>
        </tr>
    </table>

    <h3>Interessen</h3>
    <ol>
        <li th:each="ele,status : ${profil.getInteressenListe()}" th:text="${ele}"></li>
    </ol>

    <a th:href="@{benutzerprofil/bearbeiten}">bearbeiten</a>

</body>
</html>