<!DOCTYPE html>
<html lang="en" xmlns:td="http://www.tdymeleaf.org">
<head>
    <title>Benutzerprofil</title>
</head>
<body>
    <h1>Benutzerprofil</h1>
    <h3>Ihre Daten</h3>
    <label >

    </label>
    <table modelAttribute="profil">
        <tr>
            <td>Name</td>
            <td td:text="${name}"></td>
        </tr>
        <tr>
            <td>Geb.</td>
            <td td:text="${geburtsdatum}"></td>
        </tr>
        <tr>
            <td>Adresse</td>
            <td td:text="${adresse}"></td>
        </tr>
        <tr>
            <td>eMail</td>
            <td td_text="${eMail}"></td>
        </tr>
        <tr>
            <td>Lieblingsfarbe</td>
            <td td_text="${lieblingsfarbe}"></td>
        </tr>
    </table>

    <h3>Interessen</h3>
    <ol th:each="ele,status:${interessenliste}">
        <li th:text="${ele}"></li>
    </ol>
</body>
</html>